.home {
  min-height: 100vh;
  height: 100%;
  background: #e5e5e5;

  .homeemptystate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 1.2em;

    h3 {
      font-weight: 400;
      font-size: 22px;
      line-height: 140%;
      text-align: center;
      color: #808080;
    }
  }

  .home__layout {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.6em;

    .home__layout--left {
      display: grid;
      gap: 0.8em;
      width: 40%;
      height: fit-content;
      flex: 2;
      img {
        width: 280px;
        height: 280px;
        border-radius: 50%;
      }

      h3 {
        font-weight: 600;
        font-size: 26px;
        line-height: 130%;
        color: #000000;
      }

      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #0064eb;

        a {
          color: #0064eb;
          text-decoration: none;
        }
      }

      .profile-groups {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .groups {
          display: flex;
          align-items: center;
          gap: 0.5em;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #000000;
        }
      }
    }

    .home__layout--right {
      flex: auto;
      width: 60%;
      .home__layout--cards {
        display: grid;
        gap: 1.6em;
        margin-top: 1em;
      }
    }
  }
}

.pagination--container {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: 576px) {
    flex-direction: column;
    gap: 1em;
  }

  .pagination-count {
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #808080;
  }

  .pagination {
    display: flex;
  }

  .pagination > li {
    list-style: none;
  }
  .pagination > li > a,
  .pagination > li > span {
    padding: 8px 20px;
    line-height: 1.5;
    margin-left: -1px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #808080;
  }

  .pagination > li.active > a {
    color: #fff;
    background-color: #0064eb;
    border-color: #0064eb;
    border-radius: 3px;
  }

  .pagination > li > a:hover {
    background-color: #0064eb;
    border-color: #0064eb;
    color: white;
    border-radius: 3px;
    cursor: pointer;
  }
  .pagination > li:first-child > a,
  .pagination > li:first-child > span {
    margin-left: 0;
  }
}
